<!-- Footer -->
<footer>
  <div class="row">
    <div class="twelve columns">
      <br /><br />
      <p>
        <div class="left">
          <h5 class="subheader">Connect with me:</h5>
          <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
          </div>
        </div>
        <div class="right">
          <h5 class="subheader">
            <a href="http://www.linkedin.com/in/jonclynch/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;
            <a href="https://github.com/jonnylynchy" target="_blank"><i class="fa fa-github fa-2x"></i></a>&nbsp;
            <a href="https://twitter.com/jonlynch" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp;
          </h5>
        </div>
        <div class="clear"></div>
      </p>
    </div>
  </div>
</footer>
