<header>
  <div id="headerBG"></div>
  <div class="row">
    <!-- Logo -->
    <section class="five columns small" id="logo" >
      <div></div>
      <a href="/#home" id="firstNavItem">JON LYNCH</a>
    </section>
    <!-- Navigation -->
    <div class="hide-for-small">
      <nav class="seven columns">
        <a href="/blog" class="active">Blog</a>
        <a href="/#life">Life &amp; Stuff</a>
        <a href="/#work">Work</a>
        <a href="/#about">About</a>
        <div class="clear"></div>
      </nav>
      <canvas id="navCanvas" width="940" height="10"></canvas>
    </div>
  </div>
</header>
